<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-info">
                        <h4 class="card-title mt-0">{{'consultation.list' | translate}}</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                                <mat-spinner></mat-spinner>
                            </div>

                            <mat-table class="consultation-table mat-elevation-z8" [dataSource]="dataSource">
                                <ng-container matColumnDef="uuid">
                                    <mat-header-cell *matHeaderCellDef>{{'consultation.uuid' | translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let consultation">{{consultation.uuid.substr(0,8)}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="firstname">
                                    <mat-header-cell *matHeaderCellDef>{{'consultation.firstname' | translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let consultation">{{consultation.firstname}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="lastname">
                                    <mat-header-cell *matHeaderCellDef>{{'consultation.lastname' | translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let consultation">{{consultation.lastname}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="createdAt">
                                    <mat-header-cell *matHeaderCellDef>{{'createdAt' | translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let consultation">
                                        {{consultation.createdAt | date: 'dd/MM/yyyy HH:mm'}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="updatedAt">
                                    <mat-header-cell *matHeaderCellDef>{{'updatedAt' | translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let consultation">
                                        {{consultation.lastUpdateAt | date: 'dd/MM/yyyy HH:mm'}}</mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumns" (click)="openDetail(row)">
                                </mat-row>
                            </mat-table>

                            <mat-paginator class="paginator--centered" [length]="dataSource?.maxResultCount" [pageSize]="pageSize" hidePageSize>
                            </mat-paginator>
                        </div>


                        <div>
                            <button mat-raised-button color="primary" type="button" (click)="exportConsultations()" class="left-button" [hidden]="!isAdmin"> <mat-icon>file_download</mat-icon> {{ 'consultations.export' | translate }}</button>
                            <button mat-raised-button color="primary" type="button" (click)="createNewConsultation()" class="right-button">{{ 'create' | translate }}</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>