<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" *ngIf="isAuthenticatedUser || !consultationUUID">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">{{'consultation.detail' | translate}}</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" (ngSubmit)="saveConsultation()">
                            <div class="form-content">
                                <div class="row">
                                    <div class="column-4">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input matInput [(value)]="consultation.firstname" name="firstname" [(ngModel)]="consultation.firstname" placeholder="{{ 'consultation.firstname' | translate }}" required>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="column-4">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input matInput [(value)]="consultation.lastname" name="lastname" [(ngModel)]="consultation.lastname" placeholder="{{ 'consultation.lastname' | translate }}" required>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="column-4">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input type="date" matInput [(value)]="consultation.dateBirth" name="dateBirth" [(ngModel)]="consultation.dateBirth" placeholder="{{ 'consultation.dateBirth' | translate }}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="column-4">
                                        <div class="form-group">
                                            <mat-label>{{ 'consultation.gender' | translate }}</mat-label>
                                            <select matNativeControl name="gender" [(ngModel)]="consultation.gender">
                                                    <option value="">-</option>
                                                    <option value="F">{{ 'consultation.female' | translate }}</option>
                                                    <option value="M">{{ 'consultation.male' | translate }}</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="column-4">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input matInput [(value)]="consultation.nationality" name="nationality" [(ngModel)]="consultation.nationality" placeholder="{{ 'consultation.nationality' | translate }}">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="column-4">
                                        <div class="form-group">
                                            <mat-label>{{ 'consultation.civilStatus' | translate }}</mat-label>
                                            <select matNativeControl name="civilStatus" [(ngModel)]="consultation.civilStatus">
                                                    <option value="">-</option>
                                                    <option value="S">{{ 'consultation.single' | translate }}</option>
                                                    <option value="M">{{ 'consultation.married' | translate }}</option>                                            
                                                    <option value="D">{{ 'consultation.divorced' | translate }}</option>
                                                    <option value="W">{{ 'consultation.widowed' | translate }}</option>
                                                </select>
                                        </div>
                                    </div>

                                    <div class="column-4">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input matInput type="number" [(value)]="consultation.numberChild" name="numberChild" [(ngModel)]="consultation.numberChild" placeholder="{{ 'consultation.numberChild' | translate }}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="column-4">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input matInput [(value)]="consultation.professional" name="professional" [(ngModel)]="consultation.professional" placeholder="{{ 'consultation.professional' | translate }}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="column-4">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input matInput [(value)]="consultation.education" name="education" [(ngModel)]="consultation.education" placeholder="{{ 'consultation.education' | translate }}">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="column-4">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input matInput [(value)]="consultation.email" name="email" [(ngModel)]="consultation.email" placeholder="{{ 'consultation.email' | translate }}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="column-4">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input matInput [(value)]="consultation.phoneNumber" name="phoneNumber" [(ngModel)]="consultation.phoneNumber" placeholder="{{ 'consultation.phoneNumber' | translate }}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="address-panel">

                                    <div class="row">
                                        <div class="column-4">
                                            <mat-form-field>
                                                <input matInput [(value)]="consultation.street" name="street" [(ngModel)]="consultation.street" placeholder="{{ 'consultation.street' | translate }}">
                                            </mat-form-field>
                                        </div>
                                        <div class="column-4">
                                            <mat-form-field>
                                                <input matInput [(value)]="consultation.cap" name="cap" [(ngModel)]="consultation.cap" placeholder="{{ 'consultation.cap' | translate }}">
                                            </mat-form-field>
                                        </div>
                                        <div class="column-4">
                                            <mat-form-field>
                                                <input matInput [(value)]="consultation.city" name="city" [(ngModel)]="consultation.city" placeholder="{{ 'consultation.city' | translate }}">
                                            </mat-form-field>
                                        </div>
                                        <div class="column-4">
                                            <mat-form-field>
                                                <mat-select name="country" placeholder="{{ 'consultation.country' | translate }}" [(value)]="consultation.country" [(ngModel)]="consultation.country">
                                                    <mat-option *ngFor="let country of countries" [value]="country.code">
                                                        {{ country.name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="details-navigation-buttons">
                                    <button mat-raised-button color="primary" type="submit" class="pull-right">{{ 'save' | translate }}</button>
                                    <button mat-raised-button color="warn" type="button" (click)="deleteConsultation()" [hidden]="!consultationUUID" style="margin-right: 10px" class="pull-right">{{ 'delete' | translate }}</button>
                                    <button mat-raised-button type="button" (click)="goBack()" class="pull-left">{{ 'back' | translate }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" *ngIf="consultationUUID">
        <div class="card">

            <form #form="ngForm" (ngSubmit)="saveConsultation()" style="margin-bottom: 20px">
                <div class="card-header card-header-info">
                    <h4 class="card-title">{{'consultation.result' | translate}}</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <div class="form-content">



                        <div class="row">
                            <div class="column-6-noborder">

                                <mat-label> {{'consultation.handright-fingerprint' | translate}} </mat-label>


                            </div>
                            <div class="column-6">
                                1 - {{'consultation.fingerthumb' | translate}}<br>

                                <div id="image">
                                    <canvas id="fingerframe1" height="150" width="100"></canvas>
                                </div>
                                <label id="result1" *ngIf="isAuthenticatedUser || !consultationUUID"></label>
                                <div id="controls" *ngIf="isAuthenticatedUser || !consultationUUID">
                                    <button mat-raised-button id="CaptureBtn1" type="button" (click)="callScanner('1')" disabled>{{ 'Capture' | translate }}</button>
                                    <input hidden type="file" accept=".jpeg,.png,.jpg" #uploader1 (change)="uploadFile($event.target.files, '1')" />
                                    <button mat-raised-button id="uploadBtn1" type="button" style="margin-left: 10px" (click)="uploader1.click()">{{ 'Upload' | translate }}</button>
                                </div>
                            </div>
                            <div class="column-6">
                                2- {{'consultation.fingerindex' | translate}}<br>
                                <div id="image">
                                    <canvas id="fingerframe2" height="150" width="100"></canvas>
                                </div>
                                <label id="result2" *ngIf="isAuthenticatedUser || !consultationUUID"></label>
                                <div id="controls" *ngIf="isAuthenticatedUser || !consultationUUID">
                                    <button mat-raised-button id="CaptureBtn2" type="button" (click)="callScanner( '2')" disabled>{{ 'Capture' | translate }}</button>
                                    <input hidden type="file" accept=".jpeg,.png,.jpg" #uploader2 (change)="uploadFile($event.target.files, '2')" />
                                    <button mat-raised-button id="uploadBtn2" type="button" style="margin-left: 10px;" (click)="uploader2.click()">{{ 'Upload' | translate }}</button>
                                </div>
                            </div>
                            <div class="column-6">
                                3- {{'consultation.fingermiddle' | translate}}<br>
                                <div id="image">
                                    <canvas id="fingerframe3" height="150" width="100"></canvas>
                                </div>
                                <label id="result3" *ngIf="isAuthenticatedUser || !consultationUUID"></label>
                                <div id="controls" *ngIf="isAuthenticatedUser || !consultationUUID">
                                    <button mat-raised-button id="CaptureBtn3" type="button" (click)="callScanner( '3')" disabled>{{ 'Capture' | translate }}</button>
                                    <input hidden type="file" accept=".jpeg,.png,.jpg" #uploader3 (change)="uploadFile($event.target.files, '3')" />
                                    <button mat-raised-button id="uploadBtn3" type="button" style="margin-left: 10px;" (click)="uploader3.click()">{{ 'Upload' | translate }}</button>
                                </div>

                            </div>
                            <div class="column-6">
                                4 - {{'consultation.fingerring' | translate}}<br>
                                <div id="image">
                                    <canvas id="fingerframe4" height="150" width="100"></canvas>
                                </div>
                                <label id="result4" *ngIf="isAuthenticatedUser || !consultationUUID"></label>
                                <div id="controls" *ngIf="isAuthenticatedUser || !consultationUUID">
                                    <button mat-raised-button id="CaptureBtn4" type="button" (click)="callScanner( '4')" disabled>{{ 'Capture' | translate }}</button>
                                    <input hidden type="file" accept=".jpeg,.png,.jpg" #uploader4 (change)="uploadFile($event.target.files, '4')" />
                                    <button mat-raised-button id="uploadBtn4" type="button" style="margin-left: 10px;" (click)="uploader4.click()">{{ 'Upload' | translate }}</button>
                                </div>
                            </div>
                            <div class="column-6">
                                5 - {{'consultation.fingerlittle' | translate}}<br>
                                <div id="image">
                                    <canvas id="fingerframe5" height="150" width="100"></canvas>
                                </div>
                                <label id="result5" *ngIf="isAuthenticatedUser || !consultationUUID"></label>
                                <div id="controls" *ngIf="isAuthenticatedUser || !consultationUUID">
                                    <button mat-raised-button id="CaptureBtn5" type="button" (click)="callScanner( '5')" disabled>{{ 'Capture' | translate }}</button>
                                    <input hidden type="file" accept=".jpeg,.png,.jpg" #uploader5 (change)="uploadFile($event.target.files, '5')" />
                                    <button mat-raised-button id="uploadBtn5" type="button" style="margin-left: 10px;" (click)="uploader5.click()">{{ 'Upload' | translate }}</button>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="!isCompany">
                            <div class="column-6-noborder">
                                <mat-label>{{ 'consultation.symbol' | translate }}</mat-label>
                            </div>
                            <div class="column-6">
                                <div class="form-group">
                                    <select matNativeControl name="fingerprint1" class="select-center" [(ngModel)]="consultation.fingerprint1"> 
                                            <option value="">-</option>
                                            <option value="L">{{ 'consultation.lace' | translate }}</option>
                                            <option value="W">{{ 'consultation.whirl' | translate }}</option>                                            
                                            <option value="C">{{ 'consultation.composite' | translate }}</option>
                                            <option value="T">{{ 'consultation.tree' | translate }}</option>
                                            <option value="A">{{ 'consultation.arc' | translate }}</option>
                                            <option value="P">{{ 'consultation.peacock' | translate }}</option>
                                            <option value="LT">{{ 'consultation.lacetree' | translate }}</option>
                                            <option value="LA">{{ 'consultation.lacearc' | translate }}</option>
                                        </select>
                                </div>
                            </div>
                            <div class="column-6">
                                <div class="form-group">
                                    <select matNativeControl name="fingerprint2" class="select-center" [(ngModel)]="consultation.fingerprint2">
                                            <option value="">-</option>
                                                    <option value="L">{{ 'consultation.lace' | translate }}</option>
                                                    <option value="W">{{ 'consultation.whirl' | translate }}</option>                                            
                                                    <option value="C">{{ 'consultation.composite' | translate }}</option>
                                                    <option value="T">{{ 'consultation.tree' | translate }}</option>
                                                    <option value="A">{{ 'consultation.arc' | translate }}</option>
                                                    <option value="P">{{ 'consultation.peacock' | translate }}</option>
                                                    <option value="LT">{{ 'consultation.lacetree' | translate }}</option>
                                                    <option value="LA">{{ 'consultation.lacearc' | translate }}</option>
                                                </select>
                                </div>
                            </div>
                            <div class="column-6">
                                <div class="form-group">
                                    <select matNativeControl name="fingerprint3" class="select-center" [(ngModel)]="consultation.fingerprint3">
                                            <option value="">-</option>
                                                    <option value="L">{{ 'consultation.lace' | translate }}</option>
                                                    <option value="W">{{ 'consultation.whirl' | translate }}</option>                                            
                                                    <option value="C">{{ 'consultation.composite' | translate }}</option>
                                                    <option value="T">{{ 'consultation.tree' | translate }}</option>
                                                    <option value="A">{{ 'consultation.arc' | translate }}</option>
                                                    <option value="P">{{ 'consultation.peacock' | translate }}</option>
                                                    <option value="LT">{{ 'consultation.lacetree' | translate }}</option>
                                                    <option value="LA">{{ 'consultation.lacearc' | translate }}</option>
                                                </select>
                                </div>
                            </div>
                            <div class="column-6">
                                <div class="form-group">
                                    <select matNativeControl name="fingerprint4" class="select-center" [(ngModel)]="consultation.fingerprint4">
                                            <option value="">-</option>
                                                    <option value="L">{{ 'consultation.lace' | translate }}</option>
                                                    <option value="W">{{ 'consultation.whirl' | translate }}</option>                                            
                                                    <option value="C">{{ 'consultation.composite' | translate }}</option>
                                                    <option value="T">{{ 'consultation.tree' | translate }}</option>
                                                    <option value="A">{{ 'consultation.arc' | translate }}</option>
                                                    <option value="P">{{ 'consultation.peacock' | translate }}</option>
                                                    <option value="LT">{{ 'consultation.lacetree' | translate }}</option>
                                                    <option value="LA">{{ 'consultation.lacearc' | translate }}</option>
                                                </select>
                                </div>
                            </div>
                            <div class="column-6">
                                <div class="form-group">
                                    <select matNativeControl name="fingerprint5" class="select-center" [(ngModel)]="consultation.fingerprint5">
                                            <option value="">-</option>
                                                    <option value="L">{{ 'consultation.lace' | translate }}</option>
                                                    <option value="W">{{ 'consultation.whirl' | translate }}</option>                                            
                                                    <option value="C">{{ 'consultation.composite' | translate }}</option>
                                                    <option value="T">{{ 'consultation.tree' | translate }}</option>
                                                    <option value="A">{{ 'consultation.arc' | translate }}</option>
                                                    <option value="P">{{ 'consultation.peacock' | translate }}</option>
                                                    <option value="LT">{{ 'consultation.lacetree' | translate }}</option>
                                                    <option value="LA">{{ 'consultation.lacearc' | translate }}</option>
                                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="!isCompany">
                            <div class="column-6-noborder">
                                <mat-label>{{ 'consultation.potential' | translate }}</mat-label>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.handyman" name="handyman" disabled>{{ 'consultation.handyman' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.leader" name="leader" disabled>{{ 'consultation.leader' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.organized" name="organized" disabled>{{ 'consultation.organized' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.performer" name="performer" disabled>{{ 'consultation.performer' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.communicator" name="communicator" disabled>{{ 'consultation.communicator' | translate }}</mat-checkbox>
                            </div>
                        </div>


                        <div class="row" *ngIf="!isCompany">
                            <div class="column-6-noborder">
                                <mat-label>{{ 'consultation.challenge' | translate }}</mat-label>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.getstuck" name="getstuck" disabled>{{ 'consultation.getstuck' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.doubts" name="doubts" disabled>{{ 'consultation.doubts' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.opposition" name="opposition" disabled>{{ 'consultation.opposition' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.passivity" name="passivity" disabled>{{ 'consultation.passivity' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.taciturn" name="taciturn" disabled>{{ 'consultation.taciturn' | translate }}</mat-checkbox>
                            </div>
                        </div>

                        <hr>


                        <div class="row">
                            <div class="column-6-noborder">
                                <mat-label>{{'consultation.leftright-fingerprint' | translate}}</mat-label>
                            </div>
                            <div class="column-6">
                                6 -{{'consultation.fingerthumb' | translate}}<br>
                                <div id="image">
                                    <canvas id="fingerframe6" height="150" width="100"></canvas>
                                </div>
                                <label id="result6" *ngIf="isAuthenticatedUser || !consultationUUID"></label>
                                <div id="controls" *ngIf="isAuthenticatedUser || !consultationUUID">
                                    <button mat-raised-button id="CaptureBtn6" type="button" (click)="callScanner( '6')" disabled>{{ 'Capture' | translate }}</button>
                                    <input hidden type="file" accept=".jpeg,.png,.jpg" #uploader6 (change)="uploadFile($event.target.files, '6')" />
                                    <button mat-raised-button id="uploadBtn6" type="button" style="margin-left: 10px;" (click)="uploader6.click()">{{ 'Upload' | translate }}</button>
                                </div>
                            </div>
                            <div class="column-6">
                                7 - {{'consultation.fingerindex' | translate}}<br>
                                <div id="image">
                                    <canvas id="fingerframe7" height="150" width="100"></canvas>
                                </div>
                                <label id="result7" *ngIf="isAuthenticatedUser || !consultationUUID"></label>
                                <div id="controls" *ngIf="isAuthenticatedUser || !consultationUUID">
                                    <button mat-raised-button id="CaptureBtn7" type="button" (click)="callScanner( '7')" disabled>{{ 'Capture' | translate }}</button>
                                    <input hidden type="file" accept=".jpeg,.png,.jpg" #uploader7 (change)="uploadFile($event.target.files, '7')" />
                                    <button mat-raised-button id="uploadBtn7" type="button" style="margin-left: 10px;" (click)="uploader7.click()">{{ 'Upload' | translate }}</button>
                                </div>
                            </div>
                            <div class="column-6">
                                8 - {{'consultation.fingermiddle' | translate}}<br>
                                <div id="image">
                                    <canvas id="fingerframe8" height="150" width="100"></canvas>
                                </div>
                                <label id="result8" *ngIf="isAuthenticatedUser || !consultationUUID"></label>
                                <div id="controls" *ngIf="isAuthenticatedUser || !consultationUUID">
                                    <button mat-raised-button id="CaptureBtn8" type="button" (click)="callScanner( '8')" disabled>{{ 'Capture' | translate }}</button>
                                    <input hidden type="file" accept=".jpeg,.png,.jpg" #uploader8 (change)="uploadFile($event.target.files, '8')" />
                                    <button mat-raised-button id="uploadBtn8" type="button" style="margin-left: 10px;" (click)="uploader8.click()">{{ 'Upload' | translate }}</button>
                                </div>
                            </div>
                            <div class="column-6">
                                9 - {{'consultation.fingerring' | translate}}<br>
                                <div id="image">
                                    <canvas id="fingerframe9" height="150" width="100"></canvas>
                                </div>
                                <label id="result9" *ngIf="isAuthenticatedUser || !consultationUUID"></label>
                                <div id="controls" *ngIf="isAuthenticatedUser || !consultationUUID">
                                    <button mat-raised-button id="CaptureBtn9" type="button" (click)="callScanner( '9')" disabled>{{ 'Capture' | translate }}</button>
                                    <input hidden type="file" accept=".jpeg,.png,.jpg" #uploader9 (change)="uploadFile($event.target.files, '9')" />
                                    <button mat-raised-button id="uploadBtn9" type="button" style="margin-left: 10px;" (click)="uploader9.click()">{{ 'Upload' | translate }}</button>
                                </div>
                            </div>
                            <div class="column-6">
                                10 - {{'consultation.fingerlittle' | translate}}<br>
                                <div id="image">
                                    <canvas id="fingerframe10" height="150" width="100"></canvas>
                                </div>
                                <label id="result10" *ngIf="isAuthenticatedUser || !consultationUUID"></label>
                                <div id="controls" *ngIf="isAuthenticatedUser || !consultationUUID">
                                    <button mat-raised-button id="CaptureBtn10" type="button" (click)="callScanner( '10')" disabled>{{ 'Capture' | translate }}</button>
                                    <input hidden type="file" accept=".jpeg,.png,.jpg" #uploader10 (change)="uploadFile($event.target.files, '10')" />
                                    <button mat-raised-button id="uploadBtn10" type="button" style="margin-left: 10px;" (click)="uploader10.click()">{{ 'Upload' | translate }}</button>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="!isCompany">
                            <div class="column-6-noborder">
                                <mat-label>{{'consultation.symbol' | translate}}</mat-label>
                            </div>
                            <div class="column-6">
                                <div class="form-group">
                                    <select matNativeControl name="fingerprint6" class="select-center" [(ngModel)]="consultation.fingerprint6">
                                            <option value="">-</option>
                                                    <option value="L">{{ 'consultation.lace' | translate }}</option>
                                                    <option value="W">{{ 'consultation.whirl' | translate }}</option>                                            
                                                    <option value="C">{{ 'consultation.composite' | translate }}</option>
                                                    <option value="T">{{ 'consultation.tree' | translate }}</option>
                                                    <option value="A">{{ 'consultation.arc' | translate }}</option>
                                                    <option value="P">{{ 'consultation.peacock' | translate }}</option>
                                                    <option value="LT">{{ 'consultation.lacetree' | translate }}</option>
                                                    <option value="LA">{{ 'consultation.lacearc' | translate }}</option>
                                                </select>
                                </div>
                            </div>
                            <div class="column-6">
                                <div class="form-group">
                                    <select matNativeControl name="fingerprint7" class="select-center" [(ngModel)]="consultation.fingerprint7">
                                            <option value="">-</option>
                                                    <option value="L">{{ 'consultation.lace' | translate }}</option>
                                                    <option value="W">{{ 'consultation.whirl' | translate }}</option>                                            
                                                    <option value="C">{{ 'consultation.composite' | translate }}</option>
                                                    <option value="T">{{ 'consultation.tree' | translate }}</option>
                                                    <option value="A">{{ 'consultation.arc' | translate }}</option>
                                                    <option value="P">{{ 'consultation.peacock' | translate }}</option>
                                                    <option value="LT">{{ 'consultation.lacetree' | translate }}</option>
                                                    <option value="LA">{{ 'consultation.lacearc' | translate }}</option>
                                                </select>
                                </div>
                            </div>
                            <div class="column-6">
                                <div class="form-group">
                                    <select matNativeControl name="fingerprint8" class="select-center" [(ngModel)]="consultation.fingerprint8">
                                            <option value="">-</option>
                                                    <option value="L">{{ 'consultation.lace' | translate }}</option>
                                                    <option value="W">{{ 'consultation.whirl' | translate }}</option>                                            
                                                    <option value="C">{{ 'consultation.composite' | translate }}</option>
                                                    <option value="T">{{ 'consultation.tree' | translate }}</option>
                                                    <option value="A">{{ 'consultation.arc' | translate }}</option>
                                                    <option value="P">{{ 'consultation.peacock' | translate }}</option>
                                                    <option value="LT">{{ 'consultation.lacetree' | translate }}</option>
                                                    <option value="LA">{{ 'consultation.lacearc' | translate }}</option>
                                                </select>
                                </div>
                            </div>
                            <div class="column-6">
                                <div class="form-group">
                                    <select matNativeControl name="fingerprint9" class="select-center" [(ngModel)]="consultation.fingerprint9">
                                            <option value="">-</option>
                                                    <option value="L">{{ 'consultation.lace' | translate }}</option>
                                                    <option value="W">{{ 'consultation.whirl' | translate }}</option>                                            
                                                    <option value="C">{{ 'consultation.composite' | translate }}</option>
                                                    <option value="T">{{ 'consultation.tree' | translate }}</option>
                                                    <option value="A">{{ 'consultation.arc' | translate }}</option>
                                                    <option value="P">{{ 'consultation.peacock' | translate }}</option>
                                                    <option value="LT">{{ 'consultation.lacetree' | translate }}</option>
                                                    <option value="LA">{{ 'consultation.lacearc' | translate }}</option>
                                                </select>
                                </div>
                            </div>
                            <div class="column-6">
                                <div class="form-group">
                                    <select matNativeControl name="fingerprint10" class="select-center" [(ngModel)]="consultation.fingerprint10">
                                            <option value="">-</option>
                                                    <option value="L">{{ 'consultation.lace' | translate }}</option>
                                                    <option value="W">{{ 'consultation.whirl' | translate }}</option>                                            
                                                    <option value="C">{{ 'consultation.composite' | translate }}</option>
                                                    <option value="T">{{ 'consultation.tree' | translate }}</option>
                                                    <option value="A">{{ 'consultation.arc' | translate }}</option>
                                                    <option value="P">{{ 'consultation.peacock' | translate }}</option>
                                                    <option value="LT">{{ 'consultation.lacetree' | translate }}</option>
                                                    <option value="LA">{{ 'consultation.lacearc' | translate }}</option>
                                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="!isCompany">
                            <div class="column-6-noborder">
                                {{'consultation.potential' | translate}}
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.supporter" name="supporter" disabled>{{ 'consultation.supporter' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.motivator" name="motivator" disabled>{{ 'consultation.motivator' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.mentor" name="mentor" disabled>{{ 'consultation.mentor' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.innovator" name="innovator" disabled>{{ 'consultation.innovator' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.catalyst" name="catalyst" disabled>{{ 'consultation.catalyst' | translate }}</mat-checkbox>
                            </div>
                        </div>

                        <div class="row" *ngIf="!isCompany">
                            <div class="column-6-noborder">
                                {{'consultation.challenge' | translate}}
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.retreat" name="retreat" disabled>{{ 'consultation.retreat' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.tobear" name="tobear" disabled>{{ 'consultation.tobear' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.guiltfeelings" name="guiltfeelings" disabled>{{ 'consultation.guiltfeelings' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.hide" name="hide" disabled>{{ 'consultation.hide' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-6">
                                <mat-checkbox [(ngModel)]="consultation.submit" name="submit" disabled>{{ 'consultation.submit' | translate }}</mat-checkbox>
                            </div>
                        </div>


                        <hr>
                        <div class="row">
                            <div class="column-1">
                                {{'consultation.character' | translate}}
                            </div>
                        </div>
                        <div class="row" *ngIf="!isCompany">
                            <div class="column-5">
                                <mat-checkbox [(ngModel)]="consultation.harmonizer" name="harmonizer" disabled>{{ 'consultation.harmonizer' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-5">
                                <mat-checkbox [(ngModel)]="consultation.enterprising" name="enterprising" disabled>{{ 'consultation.enterprising' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-5">
                                <mat-checkbox [(ngModel)]="consultation.mediator" name="mediator" disabled>{{ 'consultation.mediator' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-5">
                                <mat-checkbox [(ngModel)]="consultation.enthusiast" name="enthusiast" disabled>{{ 'consultation.enthusiast' | translate }}</mat-checkbox>
                            </div>
                            <div class="column-5">
                                <mat-checkbox [(ngModel)]="consultation.defender" name="defender" disabled>{{ 'consultation.defender' | translate }}</mat-checkbox>
                            </div>
                        </div>

                        <div *ngIf="isCompany">
                            <div class="row" *ngIf="consultation.harmonizer">
                                <div class="container" [class.show]="show">
                                    <b>{{'consultation.harmonizer' | translate}}</b>
                                    <br> {{'consultation.harmonizer-desc-small' | translate}}
                                    <br>
                                    <br>
                                    <div class="column-4-pr-15">
                                        <b>{{'consultation.positive' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.harmonizer-1' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-2' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-3' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-4' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-5' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-6' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-7' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-8' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-9' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-10' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-11' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-12' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-13' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-14' | translate }}</li>
                                            <li *ngIf="userLanguage!='de'">{{ 'consultation.harmonizer-15' | translate }}</li>
                                            <li *ngIf="userLanguage!='de'">{{ 'consultation.harmonizer-16' | translate }}</li>
                                            <li *ngIf="userLanguage!='de'">{{ 'consultation.harmonizer-17' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr-15">
                                        <b>{{'consultation.negative' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.harmonizer-18' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-19' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-20' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-21' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-22' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-23' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-24' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-25' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-26' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-27' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-28' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-29' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-30' | translate }}</li>
                                            <li *ngIf="userLanguage!='en'">{{ 'consultation.harmonizer-31' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr">
                                        <b>{{'consultation.learnTo' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.harmonizer-desc-1' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-desc-2' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-desc-3' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-desc-4' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-desc-5' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-desc-6' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-desc-7' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr">
                                        <b>{{'consultation.avoidTo' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.harmonizer-desc-8' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-desc-9' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-desc-10' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-desc-11' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-desc-12' | translate }}</li>
                                            <li>{{ 'consultation.harmonizer-desc-13' | translate }}</li>
                                            <li *ngIf="userLanguage!='en'">{{ 'consultation.harmonizer-desc-14' | translate }}</li>
                                            <li *ngIf="userLanguage==='it'">{{ 'consultation.harmonizer-desc-15' | translate }}</li>
                                            <li *ngIf="userLanguage==='it'">{{ 'consultation.harmonizer-desc-16' | translate }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="consultation.enterprising">
                                <div class="container" [class.show]="show">
                                    <b>{{'consultation.enterprising' | translate}}</b>
                                    <br> {{'consultation.enterprising-desc-small' | translate}}
                                    <br>
                                    <br>
                                    <div class="column-4-pr-15">
                                        <b>{{'consultation.positive' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.enterprising-1' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-2' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-3' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-4' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-5' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-6' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-7' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-8' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-9' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-10' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-11' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-12' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-13' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-14' | translate }}</li>
                                            <li *ngIf="userLanguage!='it'">{{ 'consultation.enterprising-14_2' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr-15">
                                        <b>{{'consultation.negative' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.enterprising-15' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-16' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-17' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-18' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-19' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-20' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-21' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-22' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-23' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-24' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-25' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-26' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-27' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-28' | translate }}</li>
                                            <li *ngIf="userLanguage!='de'">{{ 'consultation.enterprising-29' | translate }}</li>
                                            <li *ngIf="userLanguage==='it'">{{ 'consultation.enterprising-30' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr">
                                        <b>{{'consultation.learnTo' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.enterprising-desc-1' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-2' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-3' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-4' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-5' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-6' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-7' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-8' | translate }}</li>
                                            <li *ngIf="userLanguage==='it'">{{ 'consultation.enterprising-desc-9' | translate }}</li>
                                            <li *ngIf="userLanguage==='it'">{{ 'consultation.enterprising-desc-10' | translate }}</li>
                                            <li *ngIf="userLanguage==='it'">{{ 'consultation.enterprising-desc-11' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr">
                                        <b>{{'consultation.avoidTo' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.enterprising-desc-12' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-13' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-14' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-15' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-16' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-17' | translate }}</li>
                                            <li>{{ 'consultation.enterprising-desc-18' | translate }}</li>
                                            <li *ngIf="userLanguage==='it'">{{ 'consultation.enterprising-desc-19' | translate }}</li>
                                            <li *ngIf="userLanguage==='it'">{{ 'consultation.enterprising-desc-20' | translate }}</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="row" *ngIf="consultation.mediator">
                                <div class="container" [class.show]="show">
                                    <b>{{'consultation.mediator' | translate}}</b>
                                    <br> {{'consultation.mediator-desc-small' | translate}}
                                    <br>
                                    <br>
                                    <div class="column-4-pr-15">
                                        <b>{{'consultation.positive' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.mediator-1' | translate }}</li>
                                            <li>{{ 'consultation.mediator-2' | translate }}</li>
                                            <li>{{ 'consultation.mediator-3' | translate }}</li>
                                            <li>{{ 'consultation.mediator-4' | translate }}</li>
                                            <li>{{ 'consultation.mediator-5' | translate }}</li>
                                            <li>{{ 'consultation.mediator-6' | translate }}</li>
                                            <li>{{ 'consultation.mediator-7' | translate }}</li>
                                            <li>{{ 'consultation.mediator-8' | translate }}</li>
                                            <li>{{ 'consultation.mediator-9' | translate }}</li>
                                            <li *ngIf="userLanguage!='de'">{{ 'consultation.mediator-10' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr-15">
                                        <b>{{'consultation.negative' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.mediator-11' | translate }}</li>
                                            <li>{{ 'consultation.mediator-12' | translate }}</li>
                                            <li>{{ 'consultation.mediator-13' | translate }}</li>
                                            <li>{{ 'consultation.mediator-14' | translate }}</li>
                                            <li>{{ 'consultation.mediator-15' | translate }}</li>
                                            <li>{{ 'consultation.mediator-16' | translate }}</li>
                                            <li>{{ 'consultation.mediator-17' | translate }}</li>
                                            <li>{{ 'consultation.mediator-18' | translate }}</li>
                                            <li *ngIf="userLanguage!='de'">{{ 'consultation.mediator-19' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr">
                                        <b>{{'consultation.learnTo' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.mediator-desc-1' | translate }}</li>
                                            <li>{{ 'consultation.mediator-desc-2' | translate }}</li>
                                            <li>{{ 'consultation.mediator-desc-3' | translate }}</li>
                                            <li>{{ 'consultation.mediator-desc-4' | translate }}</li>
                                            <li>{{ 'consultation.mediator-desc-5' | translate }}</li>
                                            <li>{{ 'consultation.mediator-desc-6' | translate }}</li>
                                            <li>{{ 'consultation.mediator-desc-7' | translate }}</li>
                                            <li *ngIf="userLanguage==='en'">{{ 'consultation.mediator-desc-7_2' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr">
                                        <b>{{'consultation.avoidTo' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.mediator-desc-8' | translate }}</li>
                                            <li>{{ 'consultation.mediator-desc-9' | translate }}</li>
                                            <li>{{ 'consultation.mediator-desc-10' | translate }}</li>
                                            <li>{{ 'consultation.mediator-desc-11' | translate }}</li>
                                            <li *ngIf="userLanguage==='en'">{{ 'consultation.mediator-desc-12' | translate }}</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="row" *ngIf="consultation.enthusiast">
                                <div class="container" [class.show]="show">
                                    <b>{{'consultation.enthusiast' | translate}}</b>
                                    <br> {{'consultation.enthusiast-desc-small' | translate}}
                                    <br>
                                    <br>
                                    <div class="column-4-pr-15">
                                        <b>{{'consultation.positive' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.enthusiast-1' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-2' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-3' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-4' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-5' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-6' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-7' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-8' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-9' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-10' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-11' | translate }}</li>
                                            <li *ngIf="userLanguage!='de'">{{ 'consultation.enthusiast-12' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr-15">
                                        <b>{{'consultation.negative' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.enthusiast-13' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-14' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-15' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-16' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-17' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-18' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-19' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-20' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-21' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-22' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-23' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr">
                                        <b>{{'consultation.learnTo' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.enthusiast-desc-1' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-2' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-3' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-4' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-5' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-6' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-7' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-8' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr">
                                        <b>{{'consultation.avoidTo' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.enthusiast-desc-9' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-10' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-11' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-12' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-13' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-14' | translate }}</li>
                                            <li>{{ 'consultation.enthusiast-desc-15' | translate }}</li>
                                            <li *ngIf="userLanguage==='en'">{{ 'consultation.enthusiast-desc-16' | translate }}</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="row" *ngIf="consultation.defender">
                                <div class="container" [class.show]="show">
                                    <b>{{'consultation.defender' | translate}}</b>
                                    <br> {{'consultation.defender-desc-small' | translate}}
                                    <br>
                                    <br>
                                    <div class="column-4-pr-15">
                                        <b>{{'consultation.positive' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.defender-1' | translate }}</li>
                                            <li>{{ 'consultation.defender-2' | translate }}</li>
                                            <li>{{ 'consultation.defender-3' | translate }}</li>
                                            <li>{{ 'consultation.defender-4' | translate }}</li>
                                            <li>{{ 'consultation.defender-5' | translate }}</li>
                                            <li>{{ 'consultation.defender-6' | translate }}</li>
                                            <li>{{ 'consultation.defender-7' | translate }}</li>
                                            <li>{{ 'consultation.defender-8' | translate }}</li>
                                            <li>{{ 'consultation.defender-9' | translate }}</li>
                                            <li>{{ 'consultation.defender-10' | translate }}</li>
                                            <li>{{ 'consultation.defender-11' | translate }}</li>
                                            <li>{{ 'consultation.defender-12' | translate }}</li>
                                            <li *ngIf="userLanguage!='de'">{{ 'consultation.defender-13' | translate }}</li>
                                            <li *ngIf="userLanguage!='de'">{{ 'consultation.defender-14' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr-15">
                                        <b>{{'consultation.negative' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.defender-15' | translate }}</li>
                                            <li>{{ 'consultation.defender-16' | translate }}</li>
                                            <li>{{ 'consultation.defender-17' | translate }}</li>
                                            <li>{{ 'consultation.defender-18' | translate }}</li>
                                            <li>{{ 'consultation.defender-19' | translate }}</li>
                                            <li>{{ 'consultation.defender-20' | translate }}</li>
                                            <li>{{ 'consultation.defender-21' | translate }}</li>
                                            <li>{{ 'consultation.defender-22' | translate }}</li>
                                            <li>{{ 'consultation.defender-23' | translate }}</li>
                                            <li>{{ 'consultation.defender-24' | translate }}</li>
                                            <li>{{ 'consultation.defender-25' | translate }}</li>
                                            <li>{{ 'consultation.defender-26' | translate }}</li>
                                            <li *ngIf="userLanguage==='en'">{{ 'consultation.defender-27' | translate }}</li>
                                            <li *ngIf="userLanguage==='en'">{{ 'consultation.defender-28' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr">
                                        <b>{{'consultation.learnTo' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.defender-desc-1' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-2' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-3' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-4' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-5' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-6' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-7' | translate }}</li>
                                            <li *ngIf="userLanguage==='en'">{{ 'consultation.defender-desc-7_2' | translate }}</li>
                                        </ul>
                                    </div>
                                    <div class="column-4-pr">
                                        <b>{{'consultation.avoidTo' | translate}}</b>
                                        <ul>
                                            <li>{{ 'consultation.defender-desc-8' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-9' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-10' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-11' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-12' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-13' | translate }}</li>
                                            <li>{{ 'consultation.defender-desc-14' | translate }}</li>
                                            <li *ngIf="userLanguage==='en'">{{ 'consultation.defender-desc-15' | translate }}</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>



                            <div class="row">
                                <div class="column-1">
                                    <button mat-raised-button color="primary" (click)="show = !show" class="pull-left">{{ show ? 'Show less': 'Show More' }}</button>
                                </div>
                            </div>


                        </div>
                        <div class="details-navigation-buttons">
                            <button mat-raised-button color="primary" type="submit" class="pull-right">{{ 'save' | translate }}</button>

                            <button mat-raised-button color="warn" type="button" (click)="deleteConsultation()" [hidden]="!isAuthenticatedUser" style="margin-right: 10px" class="pull-right">{{ 'delete' | translate }}</button>
                            <button mat-raised-button type="button" (click)="goBack()" class="pull-left">{{ 'back' | translate }}</button>
                            <button mat-raised-button color="primary" type="button" (click)="exportConsultation()" class="pull-left" [hidden]="!isAuthenticatedUser || isCompany" style="margin-left: 10px"> <mat-icon>file_download</mat-icon> {{ 'consultation.export' | translate }}</button>

                            <button id="updateCons" type="button" (click)="updateConsultation()" hidden></button>
                            <button id="problemCons" type="button" (click)="errorshow()" hidden></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>