.details-navigation-buttons {
    margin-top: 50px;
}

.address-panel {
    margin-top: 25px;
}

.column-1 {
    float: left;
    width: 100%;
    padding: 10px;
}

.column-2 {
    float: left;
    width: 50%;
    padding: 10px;
}

.column-3 {
    float: left;
    width: 33%;
    padding: 10px;
}

.column-4 {
    float: left;
    width: 25%;
    padding: 10px;
}

.column-4-pr {
    float: left;
    width: 35%;
    padding-right: 10px;
}

.column-4-pr-15 {
    float: left;
    width: 15%;
    padding-right: 10px;
}

.column-5-center {
    text-align: center;
    width: 20%;
    padding: 10px;
}

.column-5-img {
    text-align: center;
    width: 20%;
    padding: 10px;
    border: 1px solid gray;
}

.column-5-img-big {
    text-align: center;
    width: 20%;
    padding: 10px;
    border: 3px solid gray;
}

.column-5 {
    float: left;
    width: 20%;
    padding: 10px;
}

.column-6-noborder {
    text-align: center;
    float: left;
    width: 20%;
    padding: 10px;
}

.column-6 {
    text-align: center;
    float: left;
    width: 16%;
    padding: 10px;
    border-left: 1px solid;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.image {
    max-width: 75%;
    max-height: 100px;
}

.container {
    float: left;
    max-width: 100%;
    padding: 10px;
    height: 75px;
    overflow: hidden;
}

.show {
    overflow: visible;
    height: auto;
}

.select-center {
    text-align-last: center;
}