<div class="logo">
    <a href="#/consultation" class="simple-text">
        <div>
            <img src="/assets/img/mymarq_logo.png" width="50px" />

        </div>
        MBPT Tool
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownLangLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">language</i>
                    <p>
                        <span class="d-lg-none d-md-block">{{ 'language' |
							translate }}</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-lang" aria-labelledby="navbarDropdownNavLink">
                    <a *ngFor="let language of languages" class="dropdown-item" href="javascript:void(0)" [class.active]="language.code === translate.currentLang" (click)="changeLang(language.code, true)">
						{{ language.name | translate:param }}
					</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">{{ 'account' | translate
							}}</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" (click)="openProfile()"><i class="material-icons md-18 mr-2">settings</i>{{
						'profile.settings' | translate }}</a> <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i class="material-icons md-18 mr-2">logout</i>{{ 'logout' |
						translate }}</a>
                </div>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]"> <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title | translate}}</p>
            </a>
        </li>
    </ul>
    <div class="admin-area" *ngIf="isAdmin">
        <div class="logo"><a class="simple-text">{{ 'adminarea.title' |
			translate }}</a>
        </div>
        <ul class="nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" *ngFor="let adminMenuItem of adminMenuItems" class="{{adminMenuItem.class}} nav-item">
                <a class="nav-link" [routerLink]="[adminMenuItem.path]"> <i class="material-icons">{{adminMenuItem.icon}}</i>
                    <p>{{adminMenuItem.title | translate}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>