.mat-paginator.paginator--centered {
    display: flex;
    justify-content: center;
  } 

  .mat-row:hover {
    background: #EDEBEB;
    cursor: pointer;
  }

  .mat-spinner {
    position: absolute;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
  }

  .right-button {
    float: right;
    margin-top: 20px;
  }