<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-info">
                        <h4 class="card-title mt-0">{{'user.list' | translate}}</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                                <mat-spinner></mat-spinner>
                            </div>

                            <mat-table class="user-table mat-elevation-z8" [dataSource]="dataSource">

                                <ng-container matColumnDef="email">
                                    <mat-header-cell *matHeaderCellDef>{{'user.email' | translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="role">
                                    <mat-header-cell *matHeaderCellDef>{{'user.role' | translate}}</mat-header-cell>
                                    <mat-cell *matCellDef="let user">{{user.role}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="createdAt">
                                    <mat-header-cell *matHeaderCellDef>{{'createdAt' | translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let user">
                                        {{user.createdAt | date: 'dd/MM/yyyy HH:mm'}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="enabled">
                                    <mat-header-cell *matHeaderCellDef>{{'enabled' | translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let user">
                                        <mat-slide-toggle name="disabled" color="accent" [(ngModel)]="user.enabled" disabled>
                                        </mat-slide-toggle>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumns" (click)="openDetail(row)">
                                </mat-row>
                            </mat-table>

                            <mat-paginator class="paginator--centered" [length]="dataSource?.maxResultCount" [pageSize]="pageSize" hidePageSize>
                            </mat-paginator>
                        </div>
                        <button mat-raised-button color="primary" type="button" (click)="createNewUser()" class="right-button">{{ 'create' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>