<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">{{'user.detail' | translate}}</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm" (ngSubmit)="saveUser()">
                            <div class="form-content">
                                <div class="row">
                                    <div class="column-3">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input matInput [(value)]="user.email" name="email" [(ngModel)]="user.email" placeholder="{{ 'user.email' | translate }}" required [disabled]="userUUID && !isAuthenticatedUser">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="column-3">
                                        <div class="enable-toggle-in-form">
                                            <div class="form-group">
                                                <mat-slide-toggle name="disabled" color="accent" [(ngModel)]="user.enabled" [hidden]="!userUUID || isAuthenticatedUser">
                                                    {{'enabled' | translate}}
                                                </mat-slide-toggle>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column-3">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input matInput [(value)]="user.firstname" name="firstname" [(ngModel)]="user.firstname" placeholder="{{ 'user.firstname' | translate }}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="column-3">
                                        <div class="form-group">
                                            <mat-form-field>
                                                <input matInput [(value)]="user.lastname" name="lastname" [(ngModel)]="user.lastname" placeholder="{{ 'user.lastname' | translate }}">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column-3">
                                    <div class="form-group">
                                        <mat-form-field *ngIf="isAdmin && !isAuthenticatedUser">
                                            <mat-select name="role" placeholder="{{ 'user.role' | translate }}" [(value)]="user.role" [(ngModel)]="user.role" required>
                                                <mat-option *ngFor="let role of roles" [value]="role">
                                                    {{ role }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field *ngIf="(isAdmin && isAuthenticatedUser) || !isAdmin">
                                            <input matInput [(value)]="user.role" name="role" [(ngModel)]="user.role" placeholder="{{ 'user.role' | translate }}" disabled>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="column-3">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-select name="language" placeholder="{{ 'user.language' | translate }}" [(value)]="user.language" [(ngModel)]="user.language" required>
                                                <mat-option *ngFor="let language of languages" [value]="language.code">
                                                    {{ language.name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <form [formGroup]="changePasswordForm">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{'password' | translate}}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="password-panel" formGroupName="passwordGroup">
                                            <div class="row">
                                                <div class="column-3">
                                                    <mat-form-field>
                                                        <input matInput type="password" name="newPassword" formControlName="newPassword" placeholder="{{ 'password.new' | translate }}">
                                                        <mat-error>
                                                            {{ errors.password | translate }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="column-3">
                                                    <mat-form-field>
                                                        <input matInput type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="{{ 'password.confirm' | translate }}" [errorStateMatcher]="confirmValidParentMatcher">
                                                        <mat-error>
                                                            {{ errors.confirmPassword | translate }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </form>
                            <div class="details-navigation-buttons">
                                <button mat-raised-button color="primary" type="submit" [disabled]="disableSaveButton()" class="pull-right">{{ 'save' | translate }}</button>
                                <button mat-raised-button color="warn" type="button" (click)="deleteUser()" [hidden]="!userUUID || isAuthenticatedUser" style="margin-right: 10px" class="pull-right">{{ 'delete' | translate }}</button>
                                <button mat-raised-button type="button" (click)="goBack()" [hidden]="!isAdmin" class="pull-left">{{ 'back' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>