.details-navigation-buttons {
    margin-top: 50px;
}

.address-panel {
    margin-top: 25px;
}

.column-1 {
    float: left;
    width: 100%;
    padding: 10px;
}

.column-2 {
    float: left;
    width: 50%;
    padding: 10px;
}

.column-3 {
    float: left;
    width: 33%;
    padding: 10px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.enable-toggle-in-form {
    margin-left: 50px;
    margin-top: 20px;
}