<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
			<span class="sr-only">Toggle navigation</span> <span class="navbar-toggler-icon icon-bar"></span> <span
				class="navbar-toggler-icon icon-bar"></span> <span class="navbar-toggler-icon icon-bar"></span>
		</button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownLangLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">language</i>
                        <p>
                            <span class="d-lg-none d-md-block">{{ 'language' |
								translate:param }}</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lang" aria-labelledby="navbarDropdownNavLink">
                        <a *ngFor="let language of languages" class="dropdown-item" href="javascript:void(0)" [class.active]="language.code === translate.currentLang" (click)="changeLang(language.code, true)">
							{{ language.name | translate:param }}
						</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                        <p>
                            <span class="d-lg-none d-md-block">{{ 'account' |
								translate:param }}</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="openProfile()"><i
								class="material-icons md-18 mr-2">settings</i>{{
							'profile.settings' | translate }}</a> <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i class="material-icons md-18 mr-2">logout</i>{{ 'logout' |
							translate }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>