<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="/assets/img/mymarq_logo.png" width="150px" />
            <h1>MBPT Tool</h1>
            <form #form="ngForm" (ngSubmit)="doLogin(form)">
                <div class="form-content">
                    <div class="form-group">
                        <input name="email" type="email" class="form-control input-underline input-lg" ngModel placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control input-underline input-lg" ngModel placeholder="Password" required>
                    </div>
                </div>
                <button mat-raised-button type="submit" [disabled]="form.invalid" class="btn rounded-btn btn-danger">{{ 'login' | translate}}</button>
            </form>
        </div>
    </div>
</div>